<article class="user">
  <p class="colorize--secondary">Hi, I'm</p>
  <h1 class="user__name">Chizimuzo Etolue</h1>
  <p class="user__pronoun">She/her</p>
  <p class="user__bio">
    As a web developer, I use HTML, CSS and JavaScript to turn design concepts
    into functional websites, ensuring they are user friendly, responsive and
    visually appealing. I am constantly learning and adapting to evolving web
    technologies to deliver seamless online experience.
  </p>
</article>
